# vscode
.vscode

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# cache files that make PRs super annoying
.cache

# other
eclipse
run
runs
run-data

repo